serverless
venv
__pycache__

package-lock.json
pylint-2.5.3.dist-info/
pylint/
requests-2.24.0.dist-info/
requests/
six-1.15.0.dist-info/
six.py
toml-0.10.1.dist-info/
toml/
typed_ast-1.4.1.dist-info/
typed_ast/
urllib3-1.25.10.dist-info/
urllib3/
wrapt-1.12.1-py3.7.egg-info/
wrapt/
    .gitignore
.serverless/
astroid-2.4.2.dist-info/
astroid/
bin/
certifi-2020.6.20.dist-info/
certifi/
chardet-3.0.4.dist-info/
chardet/
colorama-0.4.3.dist-info/
colorama/
idna-2.10.dist-info/
idna/
isort-4.3.21.dist-info/
isort/
lazy_object_proxy-1.4.3.dist-info/
lazy_object_proxy/
mccabe-0.6.1.dist-info/
mccabe.py
node_modules/